$linear-gradient: linear-gradient(to right, currentColor 50%, transparent 50%);

/**
 * Buttons
 * Used to create the Air Force style buttons
 */

.btn-container {
	--cno-btn-top-alignment: 15%;
	--cno-btn-bottom-alignment: 90%;
	--cno-btn-gap-width: 4rem;
	--cno-btn-gap-height: 5px;

	&:hover {
		--cno-btn-top-alignment: 90%;
		--cno-btn-bottom-alignment: 15%;
	}
}

.btn-lower {
	pointer-events: none;
	transition: background var(--transition-standard);
	background:
		$linear-gradient var(--cno-btn-top-alignment) 0,
		$linear-gradient var(--cno-btn-bottom-alignment) 100%;
	background-repeat: no-repeat;
	background-size:
		var(--cno-btn-gap-width) var(--cno-btn-gap-height),
		var(--cno-btn-gap-width) var(--cno-btn-gap-height);
	color: inherit;
}
