// $linear-gradient: linear-gradient(to right, currentColor 50%, transparent 50%);

/**
 * Buttons
 * Used to create the Air Force style buttons
 */

.btn-container {
	--gap-width: 7%;
	--top-left: 15%;
	--bottom-left: 75%;
	--top-right: calc(var(--top-left) + var(--gap-width));
	--bottom-right: calc(var(--bottom-left) + var(--gap-width));

	&:hover,
	&:focus-within {
		--top-left: 80%;
		--bottom-left: 15%;
	}
}

.btn-lower {
	pointer-events: none;
	color: inherit;
	transition: clip-path var(--transition-standard);

	clip-path: polygon(
		0% 0%,
		0% 100%,
		var(--bottom-left) 100%,
		var(--top-left) 0,
		var(--top-right) 0,
		var(--bottom-right) 100%,
		100% 100%,
		100% 0%
	);
}
