@use "../abstracts/bs_breakpoints" as m;

.footer {
	--bs-link-color-rgb: 255, 255, 255;

	.logo {
		color: white;
	}

	.footer-split {
		@include m.media-breakpoint-up(lg) {
			max-width: 379px;
			margin: 0 -1px;
			--cno-bg-angle: 73deg;
			--cno-top-left: 12%;
			--cno-top-right: 26%;
			--cno-bottom-left: 73%;
			--cno-bottom-right: 88%;
			background: linear-gradient(
				var(--cno-bg-angle),
				var(--bs-green) 50%,
				var(--bs-primary) 50%
			);
			clip-path: polygon(
				0% 0%,
				0% 100%,
				var(--cno-bottom-left) 100%,
				var(--cno-top-left) 0,
				var(--cno-top-right) 0,
				var(--cno-bottom-right) 100%,
				100% 100%,
				100% 0%
			);
		}
		@include m.media-breakpoint-up(xl) {
			--cno-bg-angle: 64deg;
		}
		@include m.media-breakpoint-up(xxl) {
			--cno-bg-angle: 50deg;
		}
		@media only screen and (min-width: 2261px) {
			--cno-bg-angle: 45deg;
		}
	}
}
