@use "../abstracts/variables" as v;

.logo {
	--size: 8rem;
	width: clamp(100%, var(--size), auto);
	max-height: var(--size);
}

.navbar {
	a {
		font-size: 2.5rem;
		text-transform: uppercase;

		&:not(.navbar-brand) {
			font-family: v.$font-headings;
			font-weight: 800;
		}
	}
}

.navbar-toggler-icon {
	--size: 4rem;
	width: var(--size);
	height: var(--size);
}
