$transition--standard: 0.3s ease;

/* ////////////
// TYPOGRAPHY
///////////// */

$font-body: gill-sans-nova, sans-serif;
$font-serif: adobe-garamond-pro, serif;

/* //////////
// COLORS
/////////// */

$color-blue: #009cde;
$color-blue--light: #b9d9e8;
$color-blue--dark: #003a70;

$color-green: #6cc24a;
$color-green--light: #bce194;
