@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

:root {
	--font-body: #{v.$font-body};
	--font-display: #{v.$font-headings};
	--font-serif: #{v.$font-serif};

	--transition-standard: #{v.$transition--standard};

	--color-blue: #{v.$color-blue};
	--color-blue--light: #{v.$color-blue--light};
	--color-blue--dark: #{v.$color-blue--dark};

	--color-green: #{v.$color-green};
	--color-green--light: #{v.$color-green--light};
}

.hero {
	background-color: white;
	color: white;

	height: 70dvh;
	max-height: 80rem;

	&__bg {
		background-position: center top;
		background-repeat: no-repeat;
		max-width: 192rem;
		margin: 0 auto;
	}
}
