@use "../abstracts/variables" as v;

:root {
	--font-body: #{v.$font-body};
	--font-serif: #{v.$font-serif};

	--transition-standard: #{v.$transition--standard};

	--color-blue: #{v.$color-blue};
	--color-blue--light: #{v.$color-blue--light};
	--color-blue--dark: #{v.$color-blue--dark};

	--color-green: #{v.$color-green};
	--color-green--light: #{v.$color-green--light};
}
