@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

a {
	transition: color var(--transition-standard);
}

p,
li {
	@include m.media-breakpoint-up(sm) {
		font-size: 1.8rem;
	}
	@include m.media-breakpoint-up(lg) {
		font-size: 2rem;
	}
}

body {
	text-wrap: pretty;
}
