@use "../abstracts/mixins" as m;
@use "../abstracts/variables" as v;

a {
	transition: color var(--transition-standard);
}

p,
li {
	font-size: clamp(1.6rem, calc(1.285rem + 0.42vw), 2rem);
}

body {
	text-wrap: pretty;
}
